@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

body {
   font-family: 'Titillium Web', sans-serif;
   text-align: justify;
   background-color: #18326e;
   margin: 0;
   padding: 0;
}

main {
    margin-top: 50px;
    padding: 20px;
    overflow: auto;
}

aside {
    float: left;
    padding-top: 20px;
    width: 30%;
    margin: auto;
    color: white;
    font-weight: bold;
    font-size: 15pt;
    text-align: center;
}

#content{
	float: right;
   	width: 70%;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    border-radius: 4px;
    text-align: center;
}

.card-inside {
    border-radius: 5px;
    border-color: #18326e;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    background-color: rgb(236, 236, 236);
    width: 30%;
    height: 180px;
    padding : 10px;
    float : left;
    text-align: center;
    font-weight: bold;
}

.row {
    width: 100%;
    float : left;
}

.button {
    border-radius: 4px;
    background-color: #008CBA;
    text-decoration: none;
    color: white;
    padding: 5px;
    margin-top: 10px;
}

.break {
    clear: both;
}

.footer {
    padding-left: 20px;
    color: white;
 }

@media screen and (max-width: 1000px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }
 }